<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/public/style.css">
<title>Frige</title>
<meta charset="utf-8" />
</head>
<body>
<a href="http://localhost:3000/frige">Add Frige</a>&nbsp
<a href="http://localhost:3000/gates">Add Gates</a>&nbsp
<a href="http://localhost:3000/tvSet">Add TvSet</a>&nbsp

<h4>Add Frige:</h4>
<form>
	<div>
		<label>Gate Name</label>
		<input type="text" name="model"/>
	</div>
	<div>
		<label>Opened</label>
		<input type="number" name="opened"/>
	</div>
	<div>
		<input type="submit" value="submit"/>
	</div>
</form>
</body>
</html>
